#pulse-header {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#toxicity-moon {
    width: 300px;
    height: 150px;
    margin-top: 50px;
    /*margin-bottom: 50px;*/
}

body {
    margin-right: 30px;
    margin-left: 30px;
    align-content: center;
}

#feed-segment {
    flex-grow: 3;
}

/*#feed-segment {*/
    /*display: flex;*/
/*}*/

/*#feed-wrapper {*/
    /*!*overflow: hidden;*!*/
    /*!*height: 100%;*!*/
    /*align-items: stretch;*/
    /*!*position: relative;*!*/
/*}*/
#high-speed-feed {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 1em;
}

#stats-top {
    flex-grow: 0;
}

.item {
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.item-transition {
    transition: opacity .5s ease;
}
.item-enter {
    opacity: 0;
}
.item-leave {
    opacity: 0;
    position: absolute; /* important for removal move to work */
}
.item-move {
    color: red;
    transition: transform .5s cubic-bezier(.55,0,.1,1); /* applied when moving */
}